{% extends "base.html" %}
{% load product_extras %}

{% block content %}
    <div class="col-3">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="imagen de producto" width="200" height="200">
        {% endif %}
    </div>
    <div class="col">
        <div class="h3 font-weight-bold text-success">
            Producto agregado al carrito de compras
        </div>
        <div>
            <a href="{% url 'product' product.slug %}">{{ product.title }}</a>
        </div>
        <div class="font-weight-bold text-danger">
            {{ product.price | price_format }}
        </div>
        <div class="mt-2">
            <a href="{% url 'carts:cart' %}" class="btn btn-info">Ver carrito</a>
        </div>
    </div>
{% endblock content %}