{% extends "base.html" %}

{% block breadcrumb %}
    {% include "orders/snippets/breadcrumb.html" %}
{% endblock breadcrumb %}

{% block content %}
    <div class="col">
        <div class="h3">
            Selecciona una dirección de envío
        </div>
        <div class="mt-2">
            {% for address in sp %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ address.address }}
                        </h5>
                        <p class="card-title">{{ addres.postal_code }}</p>
                        <a href="{% url 'orders:check_address' address.pk %}" class="btn btn-warning">Seleccionar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}