{% extends "base.html" %}
{% load static %}


{% block content %}
        <div class="col">
            <h1>{{ message }}</h1>
            <ul class="list-group">
                {% for product in products %}
                <li class="list-group-item">
                    {% comment %}
                    Esto es un comentario de django
                    {% endcomment %}
                    {# Este es otro comentario #}
                    {{ product.title }}
                    {% if product.stock %}
                    <span class="text-success">Disponible</span>
                    {% else %}
                    <span class="text-danger">Disponible</span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
{% endblock content %}