{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
   <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-info{% else %}alert-danger{% endif %}">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
       <div class="row">
           <div class="col">
               <h1>{{ message }}</h1>
               <ul class="list-group">
                    {% for product in products %}
                            <li class="list-group-item">
                                {% comment %}
                                    Esto es un comentario de django
                                {% endcomment %}
                                {# Este es otro comentario #}
                                {{ product.title }}
                                    {% if product.stock %}
                                       <span class="text-success">Disponible</span>
                                    {% else %}
                                        <span class="text-danger">Disponible</span>
                                    {% endif %}
                            </li>
                    {% endfor %}
                </ul>
                <img src="{% static 'images/mochila.jpeg' %}" alt="mochila">
           </div>
       </div>
   </div>



</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>