{% extends "base.html" %}
{% load static %}


{% block content %}
        <div class="col">
            <h1>{{ message }}</h1>
            <ul class="list-group">
                {% for product in product_list %}
                <li class="list-group-item">
                    {% comment %}
                    Esto es un comentario de django
                    {% endcomment %}
                    {# Este es otro comentario #}
                    {{ product.title }}
                    <span class="text-success">{{ product.price }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
{% endblock content %}