<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a href="" class="navbar-brand">Girls boutique</a>
    <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navb"  class="navbar-collapse collapse hide">
        <ul class="nav navbar-nav ml-auto">
            <li class="navbar-item">
                <a href="#" class="nav-link">Login</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link">Registro</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>