<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Registro</h2>
                <!-- Formulario -->
                <form method="POST">
                    {% csrf_token %}
                    <!-- <div class="form-group">
                            {{ form.username.label_tag  }}
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.email.label_tag  }}
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label_tag  }}
                            {{ form.password }}
                        </div>-->
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                {{ field.errors }} 
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>